#root {
  max-width: 1280px;
  margin: 0 auto;
 /* padding: 2rem;*/
  text-align: center;
}
body,html {
  overflow-x: hidden;
}
.ctn{
	position: relative;
	
	align-content: center;
  font-family: stylish;
  color: black;
  width: 100vw;
  font-size: 200%;
  margin-top: 100px;
  text-shadow: 0px 0px 6px rgba(0,0,0,0.4);
  
}
.editbox{
	width: 90%;
  height: 35px;
  font-size: 16px;
  color: #ffff;
  background-color: rgba(1,1,1,0.10);
  text-shadow: 0px 0px 6px rgba(0,0,0,0.8);
  border: 0px solid rgba(100, 100, 100, 1);
  border-radius: 2px;
	
}
.editbox::placeholder {
  color: white; /* Replace with your desired color */
}
.DivButton {
  background: linear-gradient(
    50deg,
    rgba(255, 255, 255, 0.4) 12%,
    rgba(255, 255, 255, 0.1) 77%
  );
  background-blend-mode: ;
  box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  border: none; /* Remove the default button border */
  border-radius: 5px; /* Add rounded corners for a glass-like effect */
  padding: 10px;
  color: #fff;
  text-shadow: 0px 0px 6px rgba(0,0,0,0.8);
  cursor: pointer;
  font-size: 16px;
  width: 82%;
  margin-left: 6%;
  transition: background-color 0.3s ease;
  margin-top: 10%;
  transition: transform 0.2s;
  
  font-size: 45%;
  font-family: Sans-Serif;
  
  display: flex;
  
  
}
.btn{
	background: linear-gradient(
    50deg,
    rgba(255, 255, 255, 0.4) 12%,
    rgba(255, 255, 255, 0.1) 77%
  );
  background-blend-mode: ;
  box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: none; /* Remove the default button border */
  border-radius: 5px; /* Add rounded corners for a glass-like effect */
  padding: 10px;
  color: #fff;
  text-shadow: 0px 0px 6px rgba(0,0,0,0.8);
  cursor: pointer;
  font-size: 16px;
  width: 82%;
  margin-left: 8%;
  margin-top: 10%;
  display: flex;
  transition: background-color 0.3s ease;
  transition: transform 0.2s;
}
.btn:active{
	transform: scale(1.05);
}
.btn:focus{
	outline: none;
}
html {
  background:
    radial-gradient(
      227.77% 227.77% at -8.45% -10.97%,
      rgba(147, 248, 255, 1) 0%,
      rgba(255, 200, 249, 0) 60%
    ),
    radial-gradient(
      111.77% 111.77% at 107% 111%,
      rgba(147, 248, 255, 1) 0%,
      rgba(255, 200, 249, 0) 100%
    ),
    linear-gradient(
      0deg,
      rgba(255, 200, 249, 1) 0%,
      rgba(255, 200, 249, 1) 100%
    );
  background-blend-mode: , , ;
  background-size: cover;
  
            background-attachment: fixed;
}

.dn{
	margin: 0px;
}


@font-face {
  font-family: "stylish"; /* You can choose any name for your font */
  src: url('/NatureBeautyPersonalUse-9Y2DK.ttf') format('truetype');
}


.lds-ring {
  display: inline-block;
  margin: 0px;
  margin-right: 10%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
